.nav {
  width: 100%;
  height: 4rem;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-search {
  display: flex;
  padding: 1rem 0 1rem 0;
}

.logo-search .logo {
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo-search .logo img {
  height: 2rem;
}

.search {
  display: flex;
  background-color: #282828;
  align-items: center;
  border-radius: 999px;
}

.search input {
  height: 100%;
  background-color: transparent;
  border: 0;
  width: 16rem;
  border-radius: 999px;
  margin-right: 1rem;
}

.NavImg {
  height: 1.2rem;
  filter: brightness(0) invert(1);
  padding-right: 0.75rem;
}

/* .mainmenu {
} */

.mainmenu ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.mainmenu li {
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 999px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: right;
  /* padding-left: 6rem; */
  /* flex: 1; */
}

.circle {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 auto;
  border-radius: 50%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.circle svg,.svg-icon {
  height: 60%;
  width: 60%;
}

.circle:hover {
  background-color: white;
  color: black;
}

.ActionBtn {
  height: 2.25rem;
  width: 6rem;
  background-color: #303030;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: 700;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.board-menu {
  display: none;
}

@media (max-width:1240px) {
  .nav {
    justify-content: space-between;
  }
  .logo-search {
    margin-left: 2rem;
  }
  .mainmenu {
    display: none;
  }
  .action {
    margin-right: 2rem;
  }
  .board-menu {
    display: flex;
  }
}

@media (max-width:740px) {
  .logo-search .search {
    display: none;
  }

  .remove {
    display: none;
  }
}

@media (max-width:450px) {
  .movie-1 {
    margin-top: 5rem;
    transform: scale(1.25);
  }

  .section h1 {
    transform: scale(1.5);
    text-align: center;
  }
}